<style media="screen">
:root {
    --global-font-family: "Roboto", sans-serif;
    --global-blue_color-color: #3480e3;
}

html {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: var(--global-font-family);
  	padding: 0px;
    margin: 0px;
}


/* .wrapper {
    max-width: 100%;
    max-height: fit-content;
} */

.inner-wrapper {
    padding: 10px;
}
.main-pic{
  display: inline;
  height: 150px;
  width: 100%;
}
.container {
     display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 0px;
}

#nav {
    padding-left: 0px;
    padding-right: 0px;
}

.col-sm-4 {
    display: flex;
    justify-content: center;
    padding-right: 0px;

}
.in, .out {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 100ms !important;
}
p {
    margin-bottom: 0px;
}

.symbol {
    color: var(--global-blue_color-color);
    padding-right: 0px;
    padding-left:0px;
    font-size: large;
}

#underline {
    border-width: medium;
    border-bottom: solid;
    border-color: var(--global-blue_color-color);
}

#content {
    color: grey;
    display: inline;
    padding-top: 0px;
    margin-top: 0px;
    margin-left:10px;
    margin-right:10px;
  position:relative;
}

#author {
    color: lightgray;
    font-size: small;
}

#footer {
    position:absolute;
    bottom:0;
    border-top: solid;
    border-bottom: solid;
    border-color: lightgray;
    border-width: thin;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: gray;
}

h6 {
    font-size: 9px;
}

</style>
